/* base */
* {font-family:Arial, sans-serif; font-size:14px; font-weight:normal; font-style:normal; color:#454550; padding:0; margin:0; box-sizing:border-box;}
body {background:white; margin:100px;}

p {padding:8px 0;}

a { text-decoration:none; color:#ff9600; transition:color 0.3s; }

a:hover {color:rgb(3, 16, 36);}

ol { margin:0px 28px; padding:0;}

li { margin:4px 4px 8px; }

b, strong {font-weight:bold;}

i, em {font-style:italic;}

blockquote { margin:8px 20px; }

input, textarea, select { border:none; padding:0; background:#fdea91; color:#5A5A5A; font-weight:bold; font-size:12px; border-radius:4px;}

input, textarea, option { padding:4px 4px; font-weight:bold; color:#5A5A5A; font-size:12px;}

.home {
	position: absolute;
	top:5%;
	left:90%;
}

textarea {resize:none;}
.inputs {width:200px;}
.linputs {width:400px;}
.sinputs {width:150px;}
.vsinputs {width:75px;}
.vlinputs {width:100%;}

form {margin:0;}

.img {font-size:0}

sup, sub {font-size:9px; color:inherit;}

img {border:0; max-width:100%; height:auto;}

/* titre */
h1 {font-size:40px; color:#0005c2;}

/*plateau, affichage grâce à la table */
table {border-collapse:collapse; }
table td {border:solid 2px #888; padding:8px; text-align:center; } /*ligne du tableau*/
table tr.selected td {background:#bfd1ff;} /*ligne en cours sur laquelle on peut cliquer*/
table tr.selected td.selected {background:#6f7a96;} /*lorsque l'on clique dessus*/
table tr td.valid {display:none;}
table tr.selected td.valid {display:table-cell;}
table tr.win td {background:#43b456;}

.page {font-size:0;}
.page .game {width:50%; display:inline-block; vertical-align:top;}
.page .options {width:50%; display:inline-block; vertical-align:top;}
/*affichage du résultat et du choix de la difficulté (menu étant dans option)*/
.result {text-align:left; font-size:70px;}

/* menu */
.menus .menu {padding:10px 25px; margin:8px; background:#4366b4; color:white; cursor:pointer; width:200px;}

/*l'apparrence des pions est définie ici mais celle des cases du tableau est définie dans le javascript*/
.pion {display:inline-block; width:25px; height:25px; border-radius:13px; border:solid 1px #888;}

/* affichage quand un pio nest bien placé ou quand il y a la bonne couleur mais au mauvais endroit */
.correct {display:inline-block; width:10px; height:10px; border-radius:5px; border:solid 1px #888; background:black;}
.misplaced {display:inline-block; width:10px; height:10px; border-radius:5px; border:solid 1px #888; background: red;}


